@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 20px 50px;
    background-color: white;
    color: #096191;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    border-top: 3px solid black;
    padding-top: 20px;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 6px;

    margin-top: 40px;
    padding-top: 20px;
    border-top: 3px solid black;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    margin: 0;
}

p {
    margin: 5px 0;
}

li {
    margin-top: 7px;
}

a {
    display: inline-block;

    padding: 6px 10px;
    margin-bottom: 10px;

    background-color: #096191;
    color: white;

    text-decoration: none;
}

.personal-info-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.personal-info {
    display: grid;
    grid-template-columns: 120px 300px;
    align-items: center;
}

.personal-info h4,
.personal-info p {
    margin: 5px 0;
}

.personal-info-container img {
    width: 200px;
    height: 200px;

    object-fit: cover;
    border-radius: 50%;
}

.education-item {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 20px;

    margin-bottom: 20px;
}

.education-item .year {
    font-weight: bold;
    margin: 0;
}

.education-item .school {
    font-style: italic;
    margin: 3px 0 0;
}

.cv-item {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 20px;

    margin-bottom: 20px;
}

.cv-item .year {
    font-weight: bold;
    margin: 0;
}

.cv-content h4 {
    margin: 0;
}

.cv-content ul {
    margin: 8px 0 0;
    padding-left: 20px;
}

.skills strong {
    font-family: "Montserrat", sans-serif;
}