footer {
    display: flex;
    gap: 40px
}

.footer-box {
    background-color: #ffd9e8;
    padding: clamp(20px, 4vw, 40px);
    color: #932351;
    text-align: center;
}

.social-links {
    width: 40px;
    text-decoration: none;
}

.email-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}