@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.otf") format ("opentype");
}

.header-box {
    background-color: #ffd9e8;
    padding: clamp(20px, 4vw, 40px);
    color: #932351;
    margin-bottom: clamp(20px, 4vw, 40px);
    text-align: center;
}

.header-box nav {
    font-size: clamp(16px, 2.2vw, 30px);
    display: flex;
    gap: clamp(15px, 5vw, 70px);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header-box nav a{
    font-family: "Montserrat-Bold", sans-serif;
    color: #932351;
    text-decoration: none;
    white-space: nowrap;
}