<footer class="footer-box">
  <a href="https://www.linkedin.com/in/kathrine-lie-30b16b347/" target="_blank">
    <img class="social-links" src="images/linkedin.png" alt="linkedin-link" />
  </a>
  <a href="https://github.com/kathrineglie" target="_blank">
    <img class="social-links" src="images/github.png" alt="github-link" />
  </a>
  <button class="email-button" onclick="copyEmail()">
    <img class="social-links" src="images/gmail.png" alt="copy email" />
  </button>

  <span id="copy-message"></span>
</footer>
